@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F5F5F5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0px;
}

p {
    margin: 0px;
}

.gradiant {
    background: linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%), #FF4800;
    background-blend-mode: overlay, normal;
}